<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin – Users</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="admin-page">
    
    <h2 style="margin-top: 25px;margin-bottom: 25px;margin:20px 0;margin-bottom: 50px;font-size: clamp(48px, 6vw, 92px);font-weight: 700;line-height: 1.05;color: #ffffff;letter-spacing: -3px; z-index: 2;">👥 Registered Users</h2>

<div class="admin-container">
  

  <table class="admin-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>School</th>
      <th>Class</th>
      <th>Profession</th>
      <th>Address</th>
      <th>Photo</th>
      <th>Language</th>
      <th>Weekly Report</th>
      <th>Reminder</th>
      <th>Badges</th>
      <th>Verified</th>
      <th>Actions</th>

    </tr>

    {% for u in users %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.role }}</td>
      <td>{{ u.school }}</td>
      <td>{{ u.class}}</td>
      <td>{{ u.profession}}</td>
      <td>{{ u.address}}</td>
      <td>{{ "Yes" if u.photo else "No"}}</td>
      <td>{{ u.language}}</td>
      <td>{{ u.weekly_report}}</td>
      <td>{{ u.reminders}}</td>
      <td>{{ u.badges}}</td>
      <td>{{ "Yes" if u.verified else "No" }}</td>
      <td>
          {% if u.role != 'admin' %}
          <form method="POST" action="/admin/delete/users/{{ u.id }}">
         <button type="submit" class="admin-danger">Delete</button>
          </form>
         {% endif %}
      </td>

    </tr>
    {% endfor %}
  </table>

  

  
</div>
<a href="/admin/dashboard" class="admin-card" style="margin-top: 20px; margin-bottom: 20px;">⬅ Back</a>

</body>
</html>
