{% extends "base.html" %}
{% block content %}

<div class="home-container">
  <h2 class="hero-title" style="margin-top:150px;">
    🎓 Instructor Dashboard
  </h2>

  <div class="grid">
    {% for c in courses %}
    <div class="hover-box">
      <h3>{{ c.title }}</h3>
      <p>{{ c.description }}</p>

      <a href="/instructor/course/{{ c.id }}/lessons"
         class="btn-minimal2" style="font-family: 'Courier New', Courier, monospace;color: aliceblue;border: 2px, solid;">
         📚 Manage Lessons
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
